@{
    ViewBag.Title = "Confirm Email";
}
<main aria-labelledby="title">
    <style>
        main {
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        .link {
            color: #a348e8;
        }

            .link:hover {
                color: #9223e8;
            }
    </style>

    <h2 id="title">@ViewBag.Title</h2>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
        <p class="link">
            @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
