@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    <style>
        main {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>

    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</main>
