@{
    ViewBag.Title = "Your request has been received";
}

<main aria-labelledby="title">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card" style="width: 50vh;">
            <div class="card-body">
                <h2 class="card-title text-center" id="title">@ViewBag.Title.</h2>
                <hr />
                <h4 class="link">
                    Please check your email to reset your password.
                </h4>
            </div>
        </div>
    </div>
</main>
