@{
    ViewBag.Title = "Your password has been reset";
}

<style>
    .bg-custom-1 {
        background-color: rgba(225, 225, 225, 0.8);
    }
</style>

<main aria-labelledby="title">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card bg-custom-1 border-0 rounded-4" style="width: 50vh;">
            <div class="card-body">
                <h2 class="card-title text-center" id="title">@ViewBag.Title.</h2>
                <hr />
                <h4 class="link text-center">
                    @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </h4>
            </div>
            <div class="text-center mt-auto">
                <img src="~/Images/extended_logo.png" class="mb-3" style="width: 300px; max-width: 80vw;" />
            </div>
        </div>
    </div>
</main>
