@{
    ViewBag.Title = "Reset password confirmation";
}

<main class="center-main" aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <br />
        <p>
            Your password has been reset.
        </p>
        <br />
        <p>
            @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
