@{
    ViewBag.Title = "Buy a player into the current game";
}

<body>
    <main class="center-main" aria-labelledby="title">
        <script>
            setTimeout(function() {
                window.location.href = '@Url.Action("Game", "Home")';
            }, 5000);
        </script>

        <div class="notification">
            <h2>This action requires administrator permission.</h2>
            <p>You will be redirected in a few seconds...</p>
        </div>

    </main>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
