@{
    ViewBag.Title = "Home Page";
}

<main>
    <script>
        function addPlayerRedirect() {
            var url = '@Url.Action("Index", "AddPlayer")';
            window.location.href = url;
        }
    </script>
    <button onclick="addPlayerRedirect()">Create New Player</button>
</main>