@{
    ViewBag.Title = "Home Page";
}

<main>
    <script>
        function addPlayerRedirect() {
            var url = '@Url.Action("Index", "AddPlayer")';
            window.location.href = url;
        }
        function startGameRedirect() {
            var url = '@Url.Action("Index", "StartGame")';
            window.location.href = url;
        }
        function endGameRedirect() {
            var url = '@Url.Action("Index", "EndGame")';
            window.location.href = url;
        }
    </script>

    <button onclick="addPlayerRedirect()">Create New Player</button>
    <button onclick="startGameRedirect()">Start Game</button>
    <button onclick="endGameRedirect()">End Game</button>
</main>